:root {
  --car-icon-size: 50px;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.marker {
  background-image: url('./car.jpeg');
  background-size: cover;
  width: var(--car-icon-size);
  height: var(--car-icon-size);
  border-radius: 50%;
  border: 4px solid;
  cursor: pointer;
}

.panel-container {
  background-color: white;
  padding: 16px;
  border-radius: 2px;
  border: 1px solid black;
  width: 240px;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .panel-container {
    flex: 0 0  auto !important;
  }
}


.flex {
  display: flex;
}